
.title {
	text-align: center;
	font-size: 35px;
}

.images {
	width: 800px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.images img {
	width: 400px;
	border-radius: 10px;
}

.slider {
	width: 500%;
	height: 500px;
	display: flex;
}

.slider input {
	display: none;
}

.qr {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
.down {
	position: absolute;
  	bottom: 0;
	right: 0;
  	font-size: 0;
}

.ico_1,
.ico_2,
.ico_3,
.ico_4 {
	display: inline-block;
	width: 40px;
	justify-content: space-between;
	margin: 15px;
}