.title {
    text-align: center;
    font-size: 22px;
}
.plate {
    width: 1200px;
    height: 780px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    perspective: 1500px;
}
.left,
.right {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: white;
}
.container {
    width: 100%;
    height: 100%;
}
.column_1,
.column_2,
.column_3 {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.column_1 img {
    width: 600px;
    height: 550px;
}

.column_2 img {
    width: 200px;
    height: 50px;
}
.column_3 img {
    width: 250px;
    height: 100px;
}

.column_1 h3 {
    font-size: 25px;
}