.title {
	text-align: center;
	font-size: 35px;
}

.tag-1 {
  float: left;
}

.form-1 {
  float: right;
}

.container {
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.title_2{
  text-align: center;
	font-size: 15px;
}
.survey {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}