.title {
    text-align: center;
    font-size: 35px;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttond {
    width: 200px;
    height: 50px;
    color: white;
    background-color: brown;
    border-radius: 10px;
    cursor: pointer;
}

.buttond:hover{
    opacity: 0.6;
}