.title {
	text-align: center;
	font-size: 35px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_2{
  text-align: center;
	font-size: 15px;
}
.survey {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}