
.title {
    font-size: 35px;
    text-align: center;
}

.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tableu {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableu td, 
#tableu th {
  border: 1px solid rgb(14, 13, 13);
  padding: 8px;
}

#tableu tr:nth-child(even){
  background-color: #f2f2f2;
}

#tableu tr:hover {
  background-color: #ddd;
}

#tableu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #800000;
  color: white;
}

img {
    width: 300px;
}

.user {
    padding: 30px;
}