.title{
    text-align: center;
    font-size: 35px;
}

.image {
    width: 450px;
    border-radius: 10px;
}

.name {
    text-align: center;
}

.id-f,
.price-f,
.img-f,
.name-f {
    display: none;
}

.wish,
.buy {
  display: flex;
  justify-content: center;
}

.buttond {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 33.33%;
}

