{% extends 'base.html' %}

{% block title %} Resultado-busqueda {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_search.css') }}">
{% endblock %}

{% block content %}
<h1 class="title">
	Resultado de busqueda
</h1>
<br>
<br>
<div class="search">
	<input type="search" placeholder="Buscar...." id = "searching">
</div>
<h3 class="title_2">
	¿Te fue útil la información?
</h3>
<br>
<div class="survey">
	<div class="options">
		<input type="radio" name="survey_1" value="1">Si
		<input type="radio" name="survey_1" value="2">No  	
	</div>
</div>
<br>
<div class="submit">
	<button type="button">
		Enviar
	</button>
</div>

<div>
	{{ key }}
</div>

<script type="text/javascrpit" src="{{ url_for('static', filename='javascript/script_search.js') }}"></script>
{% endblock %}