{% extends 'base.html' %}

{% block title %} Cambiar-contraseña {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_cambiar.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">
    	Cambiar Contraseña
    </h1>
    <form method="POST" action="">
        <div class="tag">
            {{ form.hidden_tag() }}
        </div>
        <br>
        <div class="email">
            {{ form.email }}
        </div>
        <br>
        <div class="password">
            {{ form.current_password }}
        </div>
        <br>
        <div class="password_new">
            {{form.new_password }}
        </div>
        <br>
        <div class="submit">
            {{ form.submit }}
        </div>
            
    </form>
</div>
{% endblock %}