{% extends 'base.html' %}

{% block title %} Cambiar-contraseña {% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container">
    <h2>
    	Cambiar-contraseña
    </h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="">
        {{ form.hidden_tag() }} {{ form.email }} {{ form.current_password }} {{
        form.new_password }} {{ form.submit }}
    </form>
</div>
{% endblock %}