{% extends 'base.html' %}

{% block title %} Carta {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">
        Menú disponible
    </h1>
    <br>
    <div class="menu">
        {% for product in products %}
        <div class="column">
            <div class="image-div">
                <img src="{{ url_for('static', filename='images_plates/'+product.image_prod) }}" alt="" class="image">
            </div>
        </div>
        <div class="column">
            <div class="name">
                <h1 class="name">
                    {{ product.productname }}
                </h1>
            </div>
            <div class="price">
                <h3>
                    Precio : &emsp; ${{ product.price }}
                </h3>
            </div>
            <div class="quantity">
                <h3>
                    Cantidad disponible: &emsp;{{ product.quantity }}&emsp;(unidades)
                </h3>
            </div>
            <div class="details">
                <h3>
                    Detalles del producto:
                </h3>
                <p>
                    {{ product.details }}
                </p>
            </div>
        </div>
        <div class="column">
            <div class="wish">
                <form action="" method="POST">
                    <input value="{{ product.id }}" readonly name="tagid" id="tagid">
                    <input value="{{ product.price }}" name="tagprice" id="tagprice">
                    <input value="{{ product.productname }}" readonly name="tagname" id="tagname">
                    <input value="{{ product.image_prod }}" readonly name="tagimg" id="tagimg">
                    <input type="submit" value="Lo quiero!" class="form-control btn btn-primary " name="" id="buttond">
                </form>
                <br>
            </div>
            <br>
            <div class="buy">
                <form action="" method="POST">
                    <input value="{{ product.id }}" readonly name="tagidc" id="tagidc">
                    <input value="{{ product.price }}" name="tagpricec" id="tagpricec">
                    <input value="{{ product.productname }}" readonly name="tagnamec" id="tagnamec">
                    <input value="{{ product.image_prod }}" readonly name="tagimgc" id="tagimgc">
                    <input type="submit" value="Lo compro!" class="form-control btn btn-primary " name="" id="buttond">
                </form>
            </div>
        </div>
        {% endfor %}  
    </div>
</div> 

{% endblock %}