{% extends 'base.html' %}

{% block title %} Carta {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">
        Menú disponible
    </h1>
    <br>
    <div class="menu">
        {% for product in products %}
        <div class="column">
            <div class="image-div">
                <img src="{{ url_for('static', filename='images_plates/'+product.image_prod) }}" alt="" class="image">
            </div>
        </div>
        <div class="column">
            <div class="id-f">
                <form action="" method="post">
                    <input value="{{ product.id }}" readonly name="tagid" id="tagid">
                </form>
            </div>
            <div class="name-f">
                <form action="" method="post">
                    <input value="{{ product.productname }}" readonly name="tagname" id="tagname">
                </form>
            </div>
            <div class="name">
                <h1 class="name">
                    {{ product.productname }}
                </h1>
            </div>
            <div class="price-f">
                <form action="" method="POST">
                    <input readonly name="tagprice" id="tagprice">
                </form>
            </div>
            <div class="price">
                <h3>
                    Precio : &emsp; ${{ product.price }}
                </h3>
            </div>
            <div class="quantity">
                <h3>
                    Cantidad disponible: &emsp;{{ product.quantity }}(unidades)
                </h3>
            </div>
            <div class="details">
                <h3>
                    Detalles del producto:
                </h3>
                <p>
                    {{ product.details }}
                </p>
            </div>
            <div class="img-f">
                <form action="" method="post">
                    <input value="{{ product.image_prod }}" readonly name="tagimg" id="tagimg">
                </form>
            </div>
        </div>
        <div class="column">
            <div class="wish">
                <form action="" method="post">
                    <br>
                    {{ form.hidden_tag() }}
                    {{ form.submit(class="buttond") }}
                </form>
                <br>
            </div>
            
            <div class="buy">
                <form action="" method="post">
                    <br>
                    {{ buyform.hidden_tag() }}
                    {{ buyform.submit(class="buttond1") }}
                </form>
            </div>
        </div>
        {% endfor %}  
    </div>
</div> 

{% endblock %}