{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="admin">
    <h1 class="title">
        Dashboard Administrativo
    </h1>
    
    <div class="grid">
        <div class="users">
            <br>
            <br>
            <h2>
                Usuarios
            </h2>
            <h3>
                {{ users }} Usuarios activos
            </h3>
            <br>
            <a href="{{ url_for('registrar') }}">
                <button type="button">
                    <i class='bx bx-user-plus'></i> &nbsp; Registrar Usuario
                </button>
            </a>
            <br>
            <br>
            <a href="{{ url_for('lista_usuario') }}">
                <button type="button">
                    <i class='bx bx-user-check'></i> &nbsp; Lista Usuarios
                </button>
            </a>
            <br>
            <br>
            <a href="{{ url_for('borrar_cuenta') }}">
                <button type="button">
                    <i class='bx bx-user-x'></i> &nbsp; Eliminar Usuario
                </button>
            </a>
        </div>
        <br>
        <div class="plates">
            <br>
            <br>
            <h2>
                Productos
            </h2>
            <h3>
                {{ products }} Productos publicados
            </h3>
            <br>
            <a href="{{ url_for('agregar_producto') }}">
                <button type="button">
                    <i class='bx bx-plus-circle'></i> &nbsp; Adicionar Producto
                </button>
            </a>
            <br>
            <br>
            <a href="{{ url_for('lista_producto') }}">
                <button type="button">
                    <i class='bx bx-list-check'></i> &nbsp; Lista Productos
                </button>
            </a>
            <br>
            <br>
            <a href="#">
                <button type="button">
                    <i class='bx bx-minus-circle'></i> &nbsp; Eliminar Producto
                </button>
            </a>
        </div>
        <div class="comments">
            <br>
            <br>
            <h2>
                Comentarios
            </h2>
            <h3>
                {{ comments }} comentarios publicados
            </h3>
            <br>
            <br>
            <a href="#">
                <button type="button">
                    <i class='bx bxs-book-open'></i> &nbsp; Ver platos con comentarios
                </button>
            </a>
            <br>
            <br>
            <a href="#">
                <button type="button">
                    <i class='bx bx-edit-alt'></i> &nbsp; Editar comentarios
                </button>
            </a>
            <br>
            <br>
            <a href="#">
                <button type="button">
                    <i class='bx bx-checkbox-minus'></i> &nbsp; Eliminar comentario
                </button>
            </a>
        </div>
        <div class="numbers">
            <br>
            <br>
            <h2>
                Número de visitas
            </h2>
            <br>
            <h3>
                123456789
            </h3>
            <br>
        </div>
    </div>
</div>
{% endblock %}