{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="title">
    Productos horneados
  </div>
  <div class = "images">
    <div class = "slider">
      <input type="radio" name="radio-btn" class="button_1">
      <input type="radio" name="radio-btn" class="button_2">
      <input type="radio" name="radio-btn" class="button_3">
      <input type="radio" name="radio-btn" class="button_4">
      <input type="radio" name="radio-btn" class="button_5">
    </div>
    <div class="slide_1">
      <img src="{{ url_for('static', filename='images/home_1.jpg') }}" class="image_1">
    </div>
    <div class="slide_2">
      <img src="{{ url_for('static', filename='images/home_2.jpg') }}" class="image_2">
    </div>
    <div class="slide_3">
      <img src="{{ url_for('static', filename='images/home_3.jpg') }}" class="image_3">
    </div>
    <div class="slide_4">
      <img src="{{ url_for('static', filename='images/home_4.jpg') }}" class="image_4">
    </div>
    <div class="slide_5">
      <img src="{{ url_for('static', filename='images/home_5.jpg') }}" class="image_5">
    </div>
    <div class="auto_nav">
      <div class="auto_1"></div>
      <div class="auto_2"></div>
      <div class="auto_3"></div>
      <div class="auto_4"></div>
      <div class="auto_5"></div>
    </div>
    <div class="manual_nav">
      <label for="image_1" class="manual_1"></label>
      <label for="image_2" class="manual_2"></label>
      <label for="image_3" class="manual_3"></label>
      <label for="image_4" class="manual_4"></label>
      <label for="image_5" class="manual_5"></label>
    </div>
  </div>
  <div id="qrcode" class="qr_code">
    <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fproductoshorneados.herokuapp.com%2F&s=8&e=m" class="qr"/>
  </div>
  <div class="down">
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/facebook.png') }}" class="ico_1">
    </a>
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/instagram.png') }}" class="ico_2">
    </a>
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/youtube.png') }}" class="ico_2">
    </a>
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/google.png') }}" class="ico_2">
    </a>
  </div>
</div>

{% endblock %}