{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="title">
    <img src="{{ url_for('static', filename='images/Logo.png')}}" class = "logo">
  </div>
  <div class = "slider">
    <div class="slide active">
      <img src="{{ url_for('static', filename='images/home_1.jpg') }}" alt="">
      <div class="info">
        <h2>
          Productos horneados
        </h2>
      </div>
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/home_2.jpg') }}" alt="">
      <div class="info">
        <h2>
          Productos horneados
        </h2>
      </div>
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/home_3.jpg') }}" alt="">
      <div class="info">
        <h2>
          Productos horneados
        </h2>
      </div>
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/home_4.jpg') }}" alt="">
      <div class="info">
        <h2>
          Productos horneados
        </h2>
      </div>
    </div>
    <div class="slide">
      <img src="{{ url_for('static', filename='images/home_5.jpg') }}" alt="">
      <div class="info">
        <h2>
          Productos horneados
        </h2>
      </div>
    </div>
    <div class="navigation">
      <i class="fas fa-chevron-left prev-btn"></i>
      <i class="fas fa-chevron-right next-btn"></i>
    </div>
    <div class="navigation-visibility">
      <div class="slide-icon active"></div>
      <div class="slide-icon"></div>
      <div class="slide-icon"></div>
      <div class="slide-icon"></div>
      <div class="slide-icon"></div>
    </div>
  </div>
  <div id="qrcode" class="qr_code">
    <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fproductoshorneados.herokuapp.com%2F&s=8&e=m" class="qr"/>
  </div>
  <div class="down">
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/facebook.png') }}" class="ico_1">
    </a>
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/instagram.png') }}" class="ico_2">
    </a>
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/youtube.png') }}" class="ico_2">
    </a>
    <a href="https://www.facebook.com">
      <img src="{{ url_for('static', filename='images/google.png') }}" class="ico_2">
    </a>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/script_home.js') }}"></script>
{% endblock %}