<!DOCTYPE html>
<html>
  <head>
    <!--<meta charset="UTF-8">-->
    <title> BreadIn-Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
    <!-- Boxicons.com Iconos (utilizar font)-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-restaurant' ></i>
        <div class="logo_name">Restaurante</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">

      <!-- Sección buscar -->
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Buscar...">
         <span class="tooltip">Buscar</span>
      </li>

      <!-- Sección inicio -->
      <li>
        <a href="{{ url_for('home') }}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Inicio</span>
        </a>
         <span class="tooltip">Inicio</span>
      </li>

      <!-- Sección menú -->
      <li>
       <a href="#">
         <i class='bx bx-food-menu' ></i>
         <span class="links_name">Carta</span>
       </a>
       <span class="tooltip">Carta</span>
     </li>

    <!-- Sección para iniciar sesión -->
     <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">Iniciar Sesión</span>
       </a>
       <span class="tooltip">Iniciar Sesión</span>
     </li>

     <!-- Sección lista de deseos -->
     <li>
       <a href="#">
         <i class='bx bx-heart-circle'></i>
         <span class="links_name">Lista de deseos</span>
       </a>
       <span class="tooltip">Lista</span>
     </li>

     <!-- Sección compras -->
     <li>
       <a href="#">
         <i class='bx bx-cart' ></i>
         <span class="links_name">Carrito de compras</span>
       </a>
       <span class="tooltip">Carrito</span>
     </li>

     <!-- Sección ajustes de visualización -->
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Ajustes</span>
       </a>
       <span class="tooltip">Ajustes</span>
     </li>

     <!-- Sección logo e info del grupo -->
     <li class="profile">
         <div class="profile-details">
           <img src="{{ url_for('static', filename='images/uninorte.png')}}" alt="profileImg">
           <div class="name_job">
             <div class="name">Grupo 4</div>
             <div class="job">Uninorte-Mintic</div>
           </div>
         </div>
         <i class='bx bxl-github' id="log_out" ></i>
     </li>
    </ul>
  </div>

  <!-- Sección para el contenido de la página -->

  <section class="home-section">
      <div class="text">Productos horneados</div>
  </section>

  <!-- Código en JavaScript para la animación de la barra de navegación -->
  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();
    });

    searchBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();
    });

    function menuBtnChange() {
     if(sidebar.classList.contains("open")){
       closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
     }else {
       closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
     }
    }
  </script>
</body>
</html>
