{% extends 'base.html' %}

{% block title %} Inicio-Sesion {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/script_login.js') }}"></script>
{% endblock %}

{% block content %}
<div class="login-page">
  <h1 class="title">
    Inicio de sesión
  </h1>
  <form action="" method="POST" class="format">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
  </form>
  <a href="{{ url_for('registrar') }}" class="register">
        ¿No tienes una cuenta? Registrate!
  </a>
</div>
{% endblock %}