{% extends 'base.html' %}

{% block title %} Inicio-Sesion {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/script_login.js') }}"></script>
{% endblock %}

{% block content %}
<div class="login-page">
  <h1 class="title">
    Inicio de sesión
  </h1>
  <form action="" method="POST" class="format">
    <div class="imgcontainer">
      <img src="{{ url_for('static', filename='images/user.png')}}" class="avatar">
    </div>
    <div class="container">
      <div class="tag">
        {{ loginform.hidden_tag() }}
      </div>
      <br>
      <div class="username">
        {{ loginform.username }}
      </div>
      <br>
      <div class="password">
        {{ loginform.password }}
      </div>
      <br>
      <div class="submit">
        {{ loginform.submit }}
      </div>
      <br>
      <div class="remember">
        <label>
          <input type="checkbox" checked="checked" name="remember"> Sesión activa
        </label>
      </div>
      
    </div>
    <br>
    <div class="cancel">
      <a href="{{ url_for('home') }}">
        <button type="button" class="cancelbtn">Cancelar</button>
      </a>
    </div>
    <br>
    <div class="forgot">
      <span class="psw">
        <a href="{{ url_for('olvide_contra') }}">
          ¿Olvidaste tu contraseña?
        </a>
      </span>
    </div>
    <br>
    <div class="register">
      <span>
        <a href="{{ url_for('registrar') }}" class="register">
          ¿No tienes una cuenta? Registrate!
        </a>
      </span>
    </div>  
    </div>  
  </form>
  
</div>
{% endblock %}