{% extends 'base.html' %}

{% block title %} Detalle-Plato {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_plato.css') }}">
{% endblock %}

{% block content %}
<div class="title">
            <h1>
                Detalle de plato
            </h1>
        </div>
        <div class="plate">
            <div class="left">
                <div class="container">
                    <div class="column_1">
                        <img src="{{ url_for('static', filename='images/Pan_2.jpg')}}">
                        <h2>
                            Detalles del producto
                        </h2>
                        <h4>
                            Esto tiene harina
                        </h4>
                        <h4>
                            Esto tiene azucar
                        </h4>
                        <h4>
                            Esto tiene huevo
                        </h4>
                        <h4>
                            Esto tiene mantequilla
                        </h4>
                    </div>
                    <div class="column_2">
    
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <div class="column_1">
                        <h3>
                            Productos de panaderia
                        </h3>
                        <br>
                        <h2>
                            &#9734; &#9734; &#9734; &#9734; &#9733;
                        </h2>
                        <br>
                        
                    </div>
                    <div class="column_2">
                        <br>
                        <h1>
                            $ 10.000
                        </h1>
                        <br>
                        <br>
                        <h4>
                            10000 unidades disponibles
                        </h4>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a href="dashboard.html">
                            <img src="{{ url_for('static', filename='images/heart.png')}}"> 
                        </a>
                        <br>
                        <br>
                    </div>
                    <div class="column_3">
                        <br>
                        <br>
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/shop.png')}}"> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}