{% extends 'base.html' %}

{% block title %} Registro-usuario {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_signup.css') }}">
{% endblock %}

{% block content %}
<div class="login-page">
  <br>
  <br>
  <h1 class="title">
    Registro de nuevo usuario
  </h1>
  <form action="" method="POST" class="format">
    <div class="container">
      {{ registerform.hidden_tag() }}
      <div class="username">
        {{ registerform.username }}
      </div>
      <br>
      <div class="email">
        {{ registerform.email }}
      </div>
      <br>
      <div class="password">
        {{ registerform.password }}
      </div>
      <br>
      <div class="submit">
        <input type='submit' value='Registrarse' class="buttond">
      </div>
      <br>
    </div>
    <div class="cancel">
      <a href="{{ url_for('home') }}">
        <button type="button" class="cancelbtn">Cancelar</button>
      </a>
    </div>
    <br>
    <div class="resgister">
      <span>
        <a href="{{ url_for('login') }}" class="register">
          ¿Ya tienes una cuenta? Inicia Sesión
        </a>
      </span>
    </div>
  </form>
  <br>
  <br>
  <br>
  {% if current_user.username == "SuperAdmin" %}
  <div class="buttone">
    <a href="{{ url_for('dashboard') }}">
      <button type="button" class="buttond">Dashboard</button>
    </a>
  </div>
  {% endif %}
</div>    
{% endblock %}