{% extends 'base.html' %}

{% block title %} Registro-usuario {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_signup.css') }}">
{% endblock %}

{% block content %}
<div class="login-page">
  <h1>
    Registro de nuevo usuario
  </h1>
  <form action="" method="POST" class="format">
    <div class="container">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <a href="{{ url_for('home') }}">
        <button type="button" class="cancelbtn">Cancelar</button>
      </a>
      <span class="psw">
        <a href="{{ url_for('login') }}" class="register">
          ¿Ya tienes una cuenta? Inicia Sesión
        </a>
      </span>
    </div> 
  </form>
</div>    
{% endblock %}