{% extends 'base.html' %}

{% block title %} Registro-usuario {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_signup.css') }}">
{% endblock %}

{% block content %}
<div class="login-page">
  <h1>
    Registro de nuevo usuario
  </h1>
  <form action="" method="POST" class="format">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
  </form>
  <div class="login_href">
  	<a href="{{ url_for('login') }}">
  		¿Ya tienes una cuenta? Inicia Sesión
  	</a>
  </div>
</div>    
{% endblock %}