{% extends 'base.html' %}

{% block title %} Perfil-usuario {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_user.css') }}">
{% endblock %}

{% block content %}
<div class="title">
	<h2 class="title_2">
		Mi perfil
	</h2>
</div>
<form method="POST" action="" enctype="multipart/form-data">
    <div class="basic-user-info">
        <div class="img-and-name">
            <!--<img src="../static/profile_pics/{{current_user.profile_pic}}" />-->
                {% if current_user.verified == True %}
            <h2 class="name_1">
            	{{ current_user.username }}
        	</h2>
              	{% else %}
            <img src="{{ profile_pic }}" class="pic_user">
            <br>   
            <h2 class="name_2">
            	{{ current_user.username }}
            </h2>
                {% endif %}
        </div>
    </div>
    <br>
    <div class="tag">
        {{ form.hidden_tag ()}}
    </div>
    <div class="pic">
        {{ form.profile_pic }} 
    </div>
    <br>
    <div class="email">
        {{ form.email }}
    </div>
    <br>     
    <div class="username">
        {{ form.username }} 
    </div>
    <br>
    <div class="bio">
        {{ form.bio }}
    </div>
    <br>
    <br>    
    <div class="button_1">
        {{ form.submit }}
    </div>
    <br>
    <br>    
    <div class="rest">
        <p class="change">
            ¿Cambiar contraseña? <a href="#">Da click aquí.</a>
        </p>      
    </div>     
    <div class="rest">
        <p class="delete">
            ¿Quieres eliminar tu cuenta? <a href="{{ url_for('borrar_cuenta')}}">Da click aquí.</a>
        </p>
    </div>    
</form>  
{% endblock %}