{% extends 'base.html' %}

{% block title %} Perfil-usuario {% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="title">
	<h2>
		Mi perfil
	</h2>
</div>
<form method="POST" action="" enctype="multipart/form-data">
    <div class="basic-user-info">
        <div class="img-and-name">
            <!--<img src="../static/profile_pics/{{current_user.profile_pic}}" />-->
                {% if current_user.verified == True %}
            <h2>
            	{{current_user.username}}
        	</h2>
              	{% else %}
            <h2>
            	{{current_user.email}}
            </h2>
                {% endif %}
        </div>
    </div>
    <br>
        {{ form.hidden_tag ()}} 
        {{ form.email }} 
        {{ form.username }} 
        {{ form.profile_pic }} 
        {{ form.bio }} 
        {{ form.submit }}
    <p class="change-pw">
        ¿Cambiar contraseña? <a href="#">Da click aquí.</a>
    </p>
    <a href="#">Eliminar cuenta.</a>
        {{ url_for('borrar_cuenta')}}
</form>  
{% endblock %}